
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit User</h1>

<br />

<form asp-action="Edit" >
    <div asp-validation-summary="ModelOnly"></div>
    <partial name="Partials/CreateEditUserPartial" />

    <input type="submit" value="Save" class="btn btn-primary mt-5" />
    <a asp-action="Index" class="btn btn-light mt-5">Back To List</a>
</form>


@section ValidationScript {

    <partial name="_ValidationScriptsPartial" />


}
