
 @model EmploeeViewModel
<!-- this powerful at partialview -->
 @inject IDepratmentService _departmentsevice

@{
    ViewData["Title"] = "Create";
    ViewBag.Action = "Create";
    var Departments = new SelectList(_departmentsevice.GetAllDepartments(), nameof(DepartmentToReturnDto.Id), nameof(DepartmentToReturnDto.Name ));
}



<div class="row justify-content-center align-items-center flex-column">
    <h1 class="col-6 my-4">Create Employee</h1>

    <partial name="Partial/CreateEditEmployeePartial" model="@Model" />
</div>

@section ValidationScript {
    <partial name="_ValidationScriptsPartial" />


}

