 @model DepartmentViewModel
 @inject IEmployesService _employeeservices

@{
	ViewData["Title"] = "Create";
	ViewBag.Action = "Create";
	string temp = string.Empty;
	var Employees = new SelectList(await _employeeservices.GetEmployesAsynce(temp), nameof(EmployeeToReturnDto.Id), nameof(EmployeeToReturnDto.Name));

}






<div class="row justify-content-center align-items-center flex-column">
	<h1 class="row justify-content-center align-items-center">Create Department</h1>

	<partial name="Partials/CreateEditDepartmentPartial" />
	
</div>

@section ValidationScript {

	<partial name="_ValidationScriptsPartial" />

}

   

          