 @model RoleViewModel


<div>
    <label class="col-form-label" asp-for="RoleName"></label>
    <input type="text" asp-for="RoleName" class="form-control" />
    <span asp-validation-for="RoleName" class="text-danger"></span>
</div>

